body{

    background: burlywood;
    margin-top: 30px;
    
}

header{

    background: rebeccapurple;
    color:white;
    text-align: center;
    font-size: 40px;
    margin: 30px;
}

h1{

    background:olive;
    font-display: black;
    margin: 50px;
    

}

h2{

    margin:60px;
    color: brown;
}

h3{

    margin-left:60px;
    color:green;
}

li{

    margin-left:60px;
    color:yellow;
}
p{

    margin-left:80px;
    margin-top:60px;


}
label{

    margin-left:60px;
    color: white;
   
}


#letters{
    margin-left:60px;
    width:200px;
    margin-top:10px;
}

#button{

    margin-left:60px;
    margin-top:10px;
}